# Copyright (c) 2025 Freqchip
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_FR30XX_C
	bool
	select SOC_FAMILY_FREQCHIP_FR

config SOC_SERIES
	default "fr30xx_c" if SOC_SERIES_FR30XX_C

config SOC_FR3068E_C
	bool
	select SOC_SERIES_FR30XX_C

config SOC
	default "fr3068e_c" if SOC_FR3068E_C
